html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    background-image: url('assets/table-background.png');
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -50px;
    font-family: "League Spartan", sans-serif;
}

.player2-box{
    display: flex;;
    justify-content: space-evenly;
    height: 200px;
    margin-right: -70px;
}

.play-area{
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    /* max-width: 33%; */
    /* margin-left: 33%; */
}

.score{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    color: yellow;
    font-size: x-large;
}

#seperator{
    margin: 10px 0;
    border: 2px solid blue;
}

.player-box{
    display: flex;
    justify-content: space-around;
    max-width: 40%;
    margin-left: 31.5%;
}

img{
    width: 100px;
    margin-left: -28px;
    border-radius: 10px;
    box-shadow: -7px -7px 14px darkslategray;
}

.player-hand img:hover{
    transform: scale(1.05) translate(-8px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.player-hand{
    transition: all 1s ease-in-out;
}

.player-hand img:active{
    transition: all 0.4s ease-in-out;
    /* transform: translateY(-300px) translateX(-300px);
    rotate: 360deg; */
}

.player2-hand img{
    margin-left: -78px;
    transform: scale(0.7);
    position: relative;
}

.draw-pile img:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.draw-pile img{
    transition: all 0.1s ease-in-out;
}

.play-pile img{
    transition: all 1s ease-in-out;
    
}

#draw-card{
    position: absolute;
    right: 19vw;
    z-index: 2;
}

.player-draw{
    transform: translateY(260px) translatex(-100px);
    transition: all 0.2s ease-in-out;
}

.hidden{
    display: none;
}

.color-picker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    opacity: 0;
}

.color-picker p{
    color: blanchedalmond;
    font-size: large;
}

button{
    height: 3vh;
    width: 10vw;
    color: white;
    border-radius: 10px;
    transition: all 0.1 ease-in-out;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.end-of-round {
    position: absolute;
    z-index: 2;
    top: 40vh;
    left: 35vw;
    width: 30vw;
    margin: auto;
    font-size: xx-large;
    padding: 100px;
    padding-top: 50px;
    border: 5px solid #00eaff;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
    color: black;
}

.player-uno img{
    border-radius: 0px;
    box-shadow: none;
}
