<div class="background">
    <div class="player2-box">
        <div class="player2-hand" style="margin-top: 10vh;">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
        </div>
        <div class="player2-hand" style="margin-top: 7vh;">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
        </div>
        <div class="player2-hand" style="margin-top: 10vh;">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
        </div>
    </div>
    <div class="play-area">
        <!-- <div class="score">
        <p class="player2-titulo">Alguma ideia de tabela com os pontinho<span id='player2-score'></span></p>
        <div id='seperator'></div>
        <p class="player-score-tittle">Jogador 1 - <span id='player-score'>30</span></p>
        <p class="rules">Regras do jogo bulhufas / Round nº 1</p>
      </div> -->
        <div class="player2-hand" style="margin-bottom: 3vh; margin-left: 260px;">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
        </div>
        <div class="play-pile" id="pilha">
            <img src="../assets/blue2.png" alt="">
        </div>
        <div class="draw-pile" style="margin-right: 17vh;">
            <img src="../assets/back.png" alt="">
        </div>
        <img id="draw-card" class="hidden" src="../assets/back.png" alt="">
        <div class="player2-hand" style="margin-bottom: 3vh; margin-right: 180px;">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
        </div>
    </div>

    <!-- <div class="end-of-round hidden">
      <p class="round">X ganhou o round!</p>
    </div>
    <div class="end-of-game hidden">
      <p class="game">X ganhou o round!</p>
      <button class="play-again">Jogar novamente!</button>
    </div> -->
    <div class="player78-box" style="display: flex; justify-content: space-around;">
        <div class="player2-hand" style="margin-left: -30vh; margin-top: 3vh;">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
        </div>
        <div class="player2-hand" style="margin-right: -38vh; margin-top: 3vh;">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
            <img src="../assets/back.png" alt="">
        </div>
    </div>
    <div class="player-box">
        <div #player_hand class="player-hand" id="cards-container">
            <img *ngFor="let card of deck" [src]=card (click)="moveCard($event)" class="card">
        </div>
    </div>
    <!-- <div class="color-picker">
        <p>Escolha uma cor:</p>
        <div>
          <button class="red">Vermelho</button>
          <button class="green">Verde</button>
          <button class="blue">Azul</button>
          <button class="yellow">Amarelo</button>
        </div>
      </div> -->
</div>