<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prismatic</title>
</head>
<body>
  <div class="player2-box">
    <div class="player2-hand">
      <img src="../assets/back.png" alt="">
      <img src="../assets/back.png" alt="">
      <img src="../assets/back.png" alt="">
      <img src="../assets/back.png" alt="">
      <img src="../assets/back.png" alt="">
      <img src="../assets/back.png" alt="">
      <img src="../assets/back.png" alt="">
    </div>
  </div>
  <div class="play-area">
    <div class="score">
      <p class="player2-titulo">Alguma ideia de tabela com os pontinho<span id='player2-score'></span></p>
      <div id='seperator'></div>
      <p class="player-score-tittle">Jogador 1 - <span id='player-score'>30pt</span></p>
      <p class="rules">Regras do jogo bulhufas / Round nº 1</p>
    </div>
    <div class="play-pile">
      <img src="../assets/blue2.png" alt="">
    </div>
    <div class="draw-pile">
      <img src="../assets/back.png" alt="">
    </div>
    <img id="draw-card" class="hidden" src="../assets/back.png" alt="">
  </div>
  <div class="end-of-round hidden">
    <p class="round">X ganhou o round!</p>
  </div>
  <div class="end-of-game hidden">
    <p class="game">X ganhou o round!</p>
    <button class="play-again">Jogar novamente!</button>
  </div>
  
  <div class="player-box">
    <div class="player-hand">
      <img src="images/blue9.png" alt="">
            <img src="../assets/blue0.png" alt="">
            <img src="../assets/red12.png" alt="">
            <img src="../assets/red5.png" alt="">
            <img src="../assets/green0.png" alt="">
            <img src="../assets/green1.png" alt="">
            <img src="../assets/blue5.png" alt="">
            <img src="../assets/yellow4.png" alt="">
    </div>
  </div>
    <!-- <div class="color-picker">
      <p>Escolha uma cor:</p>
      <div>
        <button class="red">Vermelho</button>
        <button class="green">Green</button>
        <button class="blue">Azul</button>
        <button class="yellow">Amarelo</button>
      </div>
    </div> -->
    <script src=""></script>
</body>
</html>